
<%= form_with(model: @user, local: true) do |f| %>
  <div>
    <%= f.label :uid %>
    <%= f.text_field :uid %>
  </div>
  
  <div>
    <%= f.label :email %>
    <%= f.email_field :email %> 
  </div>

  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <%= f.submit '登録' %>
<% end %>