<h1>新規登録</h1>

<%= form_for @user do |f| %>
  <div>
    <%= f.label :uid, "UID" %>
    <%= f.text_field :uid %>
  </div>

  <div>
    <%= f.label :password, "パスワード" %>
    <%= f.password_field :password %>
  </div>

  <div>
    <%= f.label :password_confirmation, "パスワード(確認)" %>
    <%= f.password_field :password_confirmation %>
  </div>

  <%= f.submit "登録" %>
<% end %>
