<h1>レストラン一覧</h1>

<div class="header-nav">
  <%= link_to 'カートを見る', cart_path %>
  <%= link_to 'ログアウト', logout_path %>
</div>

<% if current_user&.admin? %>
  <div class="admin-menu">
    <%= link_to '料理を追加', new_restaurant_path %>
  </div>
<% end %>

<div class="restaurant-list">
  <% @restaurants.each do |restaurant| %>
    <div class="restaurant-item">
      <h2><%= restaurant.name %></h2>
      <p>価格: <%= restaurant.price %>円</p>
      <%= form_with(url: add_item_cart_path, local: true) do |f| %>
        <%= f.hidden_field :restaurant_id, value: restaurant.id %>
        <%= f.number_field :quantity, min: 1, value: 1 %>
        <%= f.submit 'カートに追加' %>
      <% end %>
    </div>
  <% end %>
</div>